[submodule "deps/nlohmann"]
	path = deps/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "deps/clip"]
	path = deps/clip
	url = git@github.com:DolphinGui/clip.git
[submodule "deps/tuplet"]
	path = deps/tuplet
	url = https://github.com/codeinred/tuplet.git
[submodule "deps/subprocess"]
	path = deps/subprocess
	url = git@github.com:DolphinGui/cpp-subprocess.git
